div.card {
    width: 300px;
    height: 350px;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding-top: 10px;
}

div.cardimg {
    height: 65%;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    border-radius: 10px;
    overflow: hidden;
}

div.cardtexttitle {
    padding: 10px;
    height: 10%;
    font-family: "Montserrat", sans-serif;
    color: rgb(0, 123, 255);
    font-weight: bold;
    font-size: 15px;
}

div.cardtextdetail {
    padding: 2px 10px;
    height: 20%;
    font-family: "Montserrat", sans-serif;
    color:black;
    font-size: 12px;
}